@import "../../../styles/theme/variables";
@import "../../../styles/theme/mixins";
.parent {
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    @media screen and (max-width: 575px) {
      flex-direction: column;
      .buttonGroup {
        order: 1;
        width: 100%;
      }
      h4 {
        margin-top: 40px;
        order: 2;
      }
    }
    h4 {
      @include main-heading;
    }
    .buttonGroup {
      .button {
        max-width: 100%;
        // margin-right: 12px;
        svg {
          margin-right: 5px;
        }
        button {
          text-transform: capitalize;
          margin-top: 0;
          font-family: "poppins-regular";

          &:nth-child(2) {
            margin-top: 17px;
          }
        }
      }
    }
  }
  .buttonTabs {
    button {
      font-family: "poppins-semi-bold";
      font-style: normal;

      font-size: 16px;
      text-transform: capitalize;
      line-height: 24px;
      /* identical to box height */

      letter-spacing: 0.025em;

      color: $black-color;
    }
  }
}
